body {
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	background-color: #F8F8F8;
	padding-left: 10%;
	padding-right: 10%;
	border-style: solid;
	border-color: black;
	border-width:0;
	border-top-width: 5px;
	border-bottom-width: 5px;
	padding: 40px;
	margin-top: 25px;
	margin-bottom: 25px;
}

nav {
	font-weight: bold;
	padding-top: 10px;
}

nav span {
	font-style: italic;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
	font-size: 32px;
	letter-spacing: 1px;
	font-family: sans-serif;
	margin-top: 10px;
	margin-bottom: 20px;
}

h2 {
	text-align: left;
	font-size: 24px;
	font-family: sans-serif;
}

h3 {
	text-align: left;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: sans-serif;
	margin-top: 30px;
}

h4 {
	text-align: left;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: lighter;
	margin-bottom: 4px;
	margin-top: 10px;
}

strong {
  color: #202020;
  font-style: italic;
}

lighter {
  color: #909090;
}

p {
  margin-top: 0;
  font-family: serif;
  font-size: 18px;
  color: #202020;
  text-align: left;
}

ul {
  list-style: square;
}

li {
  color: #202020;
}

img {
	margin-left: 10px;
  margin-bottom: 30px;
  padding: 5px;
	border: 1px solid #202020;
}

a {
	color: #202020;
	font-size: 16px;
	font-weight: bold;
	font-family: helvetica, sans-serif;
  margin-bottom: 30px;
}
